
body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}

header {
    background-color: #FFFFFF;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;

}
.logo-footer { font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.logo-accent {
    color: #4D5AE5;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


.nav-link { 
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.page-address .link { 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #434455;
}

.page-address .link:hover, 
.page-address .link:focus {
    color: #404BBF;
}

h1 {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero {
    background-color: #2E2F42;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
.feature {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.feature-description {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team {
    background-color: #F4F4FD;
}
.team-name {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
}
.team-position {
    color: #434455;
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}
.team-member {
    background-color: #FFFFFF;
}
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;  
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.project-name {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.project-type {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.end {
    background-color: #2E2F42;
}
.footer-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
color: #F4F4FD;}
