*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}

header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}
.page-header .container {
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    margin-right: 76px;

}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.logo-accent {
    color: #4D5AE5;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list {
    display: flex;
    gap: 40px;
}
.nav-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;
    display: block;
        padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.contacts { 
    display: flex;
}
.spacer {
    flex: 1;
}
.page-address .link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #434455;
}

.page-address {
    display: flex;
    gap: 40px;
    margin-left: auto;
}
.page-address .link:hover,
.page-address .link:focus {
    color: #404BBF;
}

.hero-title { 
   display: block;
   margin-right: auto;
   margin-left: auto;
   width: 496px;
   margin-bottom: 48px;
}
h1 {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-feature {
    padding: 120px 0;
}
.feat {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    
}
.feature {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    width: 264px;
}

.feature-description {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 8px 0 0;
}
.feat .feature-description {
    width: 264px;
}
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-title {
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.team-name {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-position {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 8px;
}

.team-member {
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 0 0 4px 4px
}

.team-info {
    padding: 32px 16px;
}
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.project-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio {
    padding: 120px 0;
}
.portfolio-title {
    margin-bottom: 72px;
}
.port {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 48px 24px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.port-item {
    width: 360px;
}   
.project-type {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
}
.project-info {
    padding: 32px 16px;
    border-bottom: 1px solid #E7E9FC;
        border-left: 1px solid #E7E9FC;
        border-right: 1px solid #E7E9FC;
}
.end {
    background-color: #2E2F42;
    padding: 100px 0;
    display: block;
    text-align: left;
}

.footer-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
    margin-top: 16px;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.section {
    padding: 120px 0;
}